.home {
    height: 100vh;
    background-image: url(../../images/Bg.png);
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    }
.tickets {
    padding-top: 120px;
    color: black;
}
.ticket:hover {
    cursor: pointer;
    background-color: aqua;
    text-decoration: none;
}
.ticket h2:hover {
    cursor: pointer;
    text-decoration: none;
}
.ticket {
    background-color: white;
    height:100%;
    width: 23%;
    border-radius: 10px;
}
.ticket img {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 129px;
    height: 109px;
}
.ticket h2 {
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
}
@media only screen and (max-width: 600px) {
    .home {
        height: 100vh;
        background-image: url(../../images/Bg.png);
        background-size: cover;
        background-position: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        width: auto;
        height: 968px;
        }
    .tickets {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ticket {
        margin-top: 10px;
        background-color:white;
        height:auto;
        width: 250px;
        border-radius: 10px;
    }
    .ticket img {
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 60px;
    }
    .ticket h2 {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        padding-top: 25px;
    }
}